html
    head 
        title Home 
    body    
        h1 Olá, estou funcionando! 
        a(href='products') Listagem de Produtos
        br
        a(href='distributors') Listagem de Distribuidoras
        br
        a(href='supermercado') Supermercado
